.box_bg {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
#ss {
  border: 0.1px solid black;
  background-color: black;
  min-height: 430px;
  height: 65vh;
  width: 80vw;
  z-index: 1;
  border-radius: 6px;
  margin-top:15vh ;
  margin-left: 1vw;
  margin-right: 1vw;
}
#dplayer {
  margin-top: 3vh;
  height: 60vh;
  width: 80vw;
  min-height: 400px;
  z-index: 999;
}
.artplayer-app {
  margin-top: 3vh;
  height: 60vh;
  /* width: 80vw; */
  min-height: 400px;
  z-index: 999;
}
.list_input {
  width: 3.5em;
  height: 2.5em;
  border-radius: 4px;
  margin: 6px;
  background-color: #666f;
  border: 0px;
  z-index: 999;
  
}
.list_bg {
  border: 3vh;
  margin-top:15vh ;
  height: 65vh;
  z-index: 1;
  overflow-y: scroll;
}
.list_input:hover{
    background-color: #0c5f6e;
}
